#button1{
    height: 50px;
    padding: 10px;
    background: blue;
}

#button2{
    height: 50px;
    padding: 10px;
    background: blue;
    transition: background-color 2s ease-in-out;
}

#button3{
    height: 50px;
    padding: 10px;
    background: blue;
}

#button1:Hover{
    transform: rotateY(180deg);
}

#button2:Hover{
    background-color: green;
}

#button3{

}

body{
    background: black;
}